<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Github Issues viewer</title>
    <script>
      // console.log = function() {}
      console.debug = function() {}
      // console.warn = function() {}
    </script>
</head>
<body>
    <div id="content">
    </div>
</body>
</html> 
