$font-stack:                Roboto, Helvetica, sans-serif;
$fontsize-body:             16px;
$fontsize-h1:               48px;
$fontsize-h2:               24px;
$fontsize-h3:               13px;
$fontsize-body:             16px;
$fontsize-promo:            22px;
$fontsize-small:            13px;
$fontsize-smallest:         11px;
$baseline:                  1.35;
$fontweight-normal:         300;
$fontweight-bold:           700;
$fontweight-slim:           100;

$white:                     #FFF;
$black:                     #111;
$graylightest:              #F5F6F7;
