
@import "_variables.scss";
@import "third_party/skeleton.scss";
@import "shadows.scss";
@import "spacings.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,700,100italic,300italic,700italic");

body, html{
  font: $fontweight-normal $fontsize-body $font-stack;
  line-height: $fontsize-body * $baseline;
  color: $black;
  background: $graylightest;
  margin: 0;
  padding:0;
}

h1, .h1{
  font-size: $fontsize-h1;
  line-height: $fontsize-h1 * $baseline;
  font-weight: $fontweight-slim;
}

h2, .h2{
  font-size: $fontsize-h2;
  line-height: $fontsize-h2 * $baseline;
  font-weight: $fontweight-normal;
}

h3, .h3{
  font-size: $fontsize-h3;
  line-height: $fontsize-h3 * $baseline;
  font-weight: $fontweight-bold;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

h6, .h6 {
  font-size: $fontsize-small;
  line-height: $fontsize-small * $baseline;
  font-weight: $fontweight-normal;
}

a { 
  color: $blue; 
  text-decoration: none;
}
a:hover { text-decoration: underline; }

.bold{
  font-weight: $fontweight-bold
}

.placeholder{
  color: $graylight !important;
  -moz-placeholder:          { color: $graylight; } // Firefox
  -ms-input-placeholder:       { color: $graylight; } // Internet Explorer 10+
  -webkit-input-placeholder:  { color: $graylight; } // Safari and Chrome
}

.small{
  font-size: $fontsize-small;
  line-height: $fontsize-small * $baseline;
}

.verysmall{
  font-size: $fontsize-smallest;
  line-height: $fontsize-smallest * $baseline;
}

/*********************************
  BACKGROUNDS
**********************************/
.black_background{
  background-color: $black
}

.white_background{
  background-color: $white;
}

.graylightest_background{
  background-color: $graylightest;
}

.redlightest_background{
  background-color: $redlightest;
}

.white{
  color: $white;
}

.gray{
  color: $gray;
}

.red{
  color: $red;
}

.round{
  border-radius: 3px;
}

.round_circle{
  border-radius: 1000px;
}

/*********************************
  INPUTS
**********************************/
.input_normal{
  border: none;
  &:focus{
    border-bottom: 1px solid $darkpurple;
  }
}

.content_editable {
  @extend .input_normal;
  outline: none;
  height: 17.55px;
  width: auto !important;
  padding-right: 2px !important;
  padding-bottom: 0 !important;
  &:focus{
    white-space: normal;
  }
}

.content_editable:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  padding-right: 2px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover{
    cursor: text;
  }
}


.content_editable:focus:empty:before{
  content: "";
  display: block; /* For Firefox */
  margin-top: 19px; /* To make sure the border doesn't go up */
  min-width: 90px !important;
}

.pointer{
  cursor: pointer
}

.no_underline{
  text-decoration: none !important;
}

.underline{
  text-decoration: underline !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not_clickable{
  pointer-events: none;
}

/*********************************
  CUSTOM
**********************************/

.triangle-with-shadow {
  width: 100px;
  height: 100px;
  // position: relative;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
} 
.triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #999;
  transform: rotate(-45deg); /* Prefixes... */
  top: 75px;
  left: 25px;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

.commentBox img{
  max-width: 100%;
}


