
@import "_variables.scss";

body, html{
  font: $fontweight-normal $fontsize-body $font-stack;
  line-height: $fontsize-body * $baseline;
  color: $black;
  background: $graylightest;
  margin: 0;
  padding:0;
}

h1, .h1{
  font-size: $fontsize-h1;
  line-height: $fontsize-h1 * $baseline;
  font-weight: $fontweight-slim;
}

h2, .h2{
  font-size: $fontsize-h2;
  line-height: $fontsize-h2 * $baseline;
  font-weight: $fontweight-normal;
}

h3, .h3{
  font-size: $fontsize-h3;
  line-height: $fontsize-h3 * $baseline;
  font-weight: $fontweight-bold;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

h6, .h6 {
  font-size: $fontsize-small;
  line-height: $fontsize-small * $baseline;
  font-weight: $fontweight-normal;
}

/*********************************
  BACKGROUNDS
**********************************/
.white_background{
  background-color: $white;
}

.graylightest_background{
  background-color: $graylightest;
}

.round{
  border-radius: 3px;
}


/*********************************
  SPACING, POSITION
**********************************/
.flex{
  display: flex;
  display: -webkit-flex;
}

.relative{
  position: relative;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.full_width{
  width: 100%;
}

.u-full-width{
  @extend .full_width;
  box-sizing: border-box;
}

.padding_40_vertical{
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding_40_horizontal{
  padding-left: 40px;
  padding-right: 40px;
}

/*********************************
  INPUTS
**********************************/
.input_normal{
  border: none;
  &:focus{
    border-bottom: 1px solid $darkpurple;
  }
}

.content_editable {
  @extend .input_normal;
  outline: none;
  height: 17.55px;
  width: auto !important;
  padding-right: 2px !important;
  padding-bottom: 0 !important;
  &:focus{
    white-space: normal;
  }
}

.content_editable:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  padding-right: 2px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover{
    cursor: text;
  }
}


.content_editable:focus:empty:before{
  content: "";
  display: block; /* For Firefox */
  margin-top: 19px; /* To make sure the border doesn't go up */
  min-width: 90px !important;
}


/*********************************
  CUSTOM
**********************************/





