

/* --------------------------------------------------------- paddings */
.padding_0{
  padding: 0
}

.padding_10{
  padding: 10px
}

.padding_20{
  padding: 20px
}

.padding_30{
  padding: 30px
}

.padding_40{
  padding: 40px
}

.padding_50{
  padding: 50px
}

.padding_60{
  padding: 60px
}

.padding_70{
  padding: 70px
}

.padding_0_top{
  padding-top: 10px
}

.padding_10_top{
  padding-top: 10px
}

.padding_10_left{
  padding-left: 10px
}

.padding_10_bottom{
  padding-bottom: 10px
}

.padding_10_right{
  padding-right: 10px
}

.padding_10_vertical{
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding_10_horizontal{
  padding-left: 10px;
  padding-right: 10px;
}

.padding_20_top{
  padding-top: 20px
}

.padding_20_left{
  padding-left: 20px
}

.padding_20_bottom{
  padding-bottom: 20px
}

.padding_20_right{
  padding-right: 20px
}

.padding_20_vertical{
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding_20_horizontal{
  padding-left: 20px;
  padding-right: 20px;
}

.padding_30_top{
  padding-top: 30px
}

.padding_30_left{
  padding-left: 30px
}

.padding_30_bottom{
  padding-bottom: 30px
}

.padding_30_right{
  padding-right: 30px
}

.padding_30_vertical{
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding_30_horizontal{
  padding-left: 30px;
  padding-right: 30px;
}

.padding_40_top{
  padding-top: 40px
}

.padding_40_left{
  padding-left: 40px
}

.padding_40_bottom{
  padding-bottom: 40px
}

.padding_40_right{
  padding-right: 40px
}

.padding_40_vertical{
  padding-top: 40px;
  padding-bottom: 40px
}

.padding_40_horizontal{
  padding-left: 40px;
  padding-right: 40px;
}

.padding_50_top{
  padding-top: 50px
}

.padding_50_left{
  padding-left: 50px
}

.padding_50_bottom {
  padding-bottom: 50px
}

.padding_50_right{
  padding-right: 50px
}

.padding_50_vertical{
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding_50_horizontal{  
  padding-left: 50px;
  padding-right: 50px;
}

.padding_60_top{
  padding-top: 60px
}

.padding_60_left{
  padding-left: 60px
}

.padding_60_bottom{
  padding-bottom: 60px
}

.padding_60_right{
  padding-right: 60px
}

.padding_60_vertical{
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding_60_horizontal{
  padding-left: 60px;
  padding-right: 60px;
}

/* --------------------------------------------------------- margins */

.margin_10{
  margin: 10px
}

.margin_20{
  margin: 20px
}

.margin_30{
  margin: 30px
}

.margin_40{
  margin: 40px
}

.margin_60{
  margin: 60px
}

.margin_5_top{
  margin-top: 5px
}

.margin_5_bottom{
  margin-bottom: 5px
}

.margin_10_top{
  margin-top: 10px
}

.margin_10_left{
  margin-left: 10px
}

.margin_10_bottom{
  margin-bottom: 10px
}

.margin_10_right{
  margin-right: 10px
}

.margin_15_top{
  margin-top: 15px
}

.margin_15_left{
  margin-left: 15px
}

.margin_15_right{
  margin-right: 15px
}

.margin_15_bottom{
  margin-bottom: 15px
}

.margin_20_top{
  margin-top: 20px
}

.margin_20_left{
  margin-left: 20px
}

.margin_20_bottom{
  margin-bottom: 20px
}

.margin_20_right{
  margin-right: 20px
}

.margin_30_top{
  margin-top: 30px
}

.margin_30_left{
  margin-left: 30px
}

.margin_30_bottom{
  margin-bottom: 30px
}

.margin_30_right{
  margin-right: 30px
}

.margin_35_left{
  margin-left: 35px
}

.margin_40_top{
  margin-top: 40px
}

.margin_40_left{
  margin-left: 40px
}

.margin_40_bottom{
  margin-bottom: 40px
}

.margin_40_right{
  margin-right: 40px
}

.margin_50_top{
  margin-top: 50px
}

.margin_50_left{
  margin-left: 50px
}

.margin_50_bottom{
  margin-bottom: 50px
}

.margin_50_right{
  margin-right: 50px
}

.margin_60_top{
  margin-top: 60px
}

.margin_60_left{
  margin-left: 60px
}

.margin_60_bottom{
  margin-bottom: 60px
}

.margin_60_right{
  margin-right: 60px
}

.margin_0{
  margin: 0px
}

.margin_0_bottom{
  margin-bottom: 0px
}

.margin_0_left{
  margin-left: 0px
}

.margin_0_top{
  margin-top: 0px
}

.margin_0_bottom{
  margin-bottom: 0px
}

.margin_auto_right{
  margin-right: auto
}

.margin_auto_left{
  margin-left: auto
}

.margin_auto_top{
  margin-top: auto
}

.margin_auto_bottom{
  margin-bottom: auto
}

.margin_auto{
  margin: 0 auto
}

.align_center{
  text-align: center;
}

.align_right{
  text-align: right;
}

.align_left{
  text-align: left !important;
}

.vertical_align_top{
  vertical-align: top;
}

.vertical_align_middle{
  vertical-align: middle;
}

.align_center_vertical{
  align-items: center;
}

.align_items_end{
  align-items: flex-end;
}

.align_top_vertical{
  vertical-align: top;
}

.flex{
  display: flex;
  display: -webkit-flex;
}

.flex_content{
  flex: 1
}

.row{
  @extend .flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.justify_center{
  justify-content: center;
}

.justify_sides{
  justify-content: space-between;
}

.justify_left{
  justify-content: flex-start;
}

.justify_right{
  justify-content: flex-end;
}

.flex_center{
  @extend .flex;
  @extend .justify_center;
  @extend .align_center_vertical;
}

.relative{
  position: relative;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.inline_block{
  display: inline-block
}

.inline_display{
  display: inline
}

.inline_flex{
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.full_width{
  width: 100%;
}

.full_height{
  width: 100%;
}

